body {
  margin: auto;
  width: auto;
}

header {
  background-color: #3e3c3c;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.navsec {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-right: 9rem;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  height: 20px;
  color: #fff;
  font-family: "Inter", serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  width: 83px;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.slide {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.menuLogo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10%;
}

.subtitle {
  color: #fff5e1;
  margin-top: -5%;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 550;
}

.peace-icon {
  width: 14.17px;
  height: 20px;
}

.middle-main {
  padding-top: 25%;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.recent-works {
  width: 100%;
}

.recent-works h2 {
  display: flex;
  justify-content: center;
}

.recent-works a {
  display: flex;
  justify-content: center;
}

.first-line {
  width: 87%;
  border: 0.5px solid #212121;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

.right-tittle {
  color: #091e42;
  font-family: 'Crete Round', serif;
  margin-left: 5%;
}

.featured-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 114px;
  gap: 24px;
}

.gym-fit-container {
  max-width: 100%;
  height: auto;
  display: block;
}

.mobile-gymFit-img {
  max-width: 100%;
  height: auto;
}

.right-block {
  display: flex;
  flex-direction: column;
  width: 352px;
}

.post-description {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.tools li {
  border: 1px solid black;
  padding: 8px;
  margin-right: 10px;
}

.aboutMe {
  background-image: url(./images/middle-background.png);
  background-color: #1c1a19;
  background-repeat: no-repeat;
  background-position-y: 21%;
  background-position-x: 100%;
}

.aboutMe-tittle {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  margin: 1%;
  color: #ff6b00;
}

.aboutMe-description {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.aboutMe-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  display: inline-block;
  font-weight: 700;
  font-size: 17px;
  padding: 12px 24px;
  cursor: pointer;
}

.abouteMe-line {
  position: relative;
  border: 1px solid #fff;
  width: 80%;
}

.about {
  height: 19%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  padding: 120px 24px;
  gap: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  height: 1241.46px;
  color: #fff;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225.46px;
  height: auto;
}

.language-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
}

.diamond {
  width: 18px;
  height: 18px;
  background: #f55800;
  transform: rotate(-45deg);
}

.rectangle {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

.round {
  width: 18px;
  height: 18px;
  background: #f55800;
  border-radius: 150px;
}

.framework-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Inter', sans-serif;
}

.tools-lists {
  list-style-type: none;
  gap: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
}

.tools-lists li {
  padding-bottom: 10px;
}

.input-padron {
  display: block;
  margin: 7% 5% 11px;
  border: none;
}

textarea::placeholder {
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.line-3 {
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
}

.homeContent {
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 35%;
  padding-top: 0.5%;
  background-color: #1c1a19;
  background-image: url(./images/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position-y: 140%;
  background-position-x: 100%;
}

/* Here was the begin for the first mobile version media query */
.homeContent h2 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  line-height: 64px;
  padding-top: 15%;
  font-weight: 400;
  color: #ff6b00;
}

.contentPara {
  font-family: 'Inter', sans-serif;
  margin-top: -5%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.homeContent ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: -2.5rem;
  margin-top: -0.6rem;
}

.homeContent img {
  height: 0.95rem;
  margin-right: 1rem;
}

.tools {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: -20px;
  font-family: 'Inter', sans-serif;
}

.recent-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 17px;
  padding: 12px 24px;
  margin-left: 5%;
  width: 150px;
}

.card-works {
  gap: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
}

.container-1 {
  position: relative;
  background-image: url(./images/desktop/card-1.png);
  background-repeat: no-repeat;
  height: 435px;
  width: 369px;
  margin: 0.5%;
  padding: 0%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.container-2 {
  background-image: url(./images/desktop/car-2.png);
  background-repeat: no-repeat;
  height: 435px;
  width: 369px;
  margin: 0.5%;
  padding: 0%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.container-3 {
  background-image: url(./images/desktop/card-3.png);
  background-repeat: no-repeat;
  height: 435px;
  width: 369px;
  margin: 0.5%;
  padding: 0%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

/* .container {
  background-image: url(./images/placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 435px;
  width: 369px;
  margin: 0.5%;
  padding: 0%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
} */

.project-tittle {
  color: #fff;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 25%;
  margin-left: 5%;
  width: 295px;
  height: 81px;
}

.project-description {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -10px;
  width: 291px;
}

.project-tools {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: -20px;
  font-family: 'Inter', sans-serif;
}

.project-tools-list {
  border: 1px solid black;
  padding: 8px;
  margin-right: 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  width: 100%;
  text-align: center;
}

.website-form {
  display: flex;
  flex-flow: row wrap;
}

.text-form {
  color: #172b4d;
  font-family: 'Inter', serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 120px 8% 1px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 120px 24px;
}

textarea {
  display: block;
  border: none;
  width: 95%;
  background: #fbf8f7;
  padding-left: 5%;
  padding-bottom: 10%;
}

.form-buttom {
  align-self: center;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 24px;
  cursor: pointer;
  width: 150px;
  margin-top: 30px;
}

.form-buttom:hover {
  transform: scale(1.1);
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.form-buttom:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.last-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: -2.5rem;
  margin-top: 1rem;
}

.last-icons img {
  height: 1.2rem;
  margin-right: 1rem;
}

form hr {
  width: 100%;
  background: #dbd8d7;
}

.line-2 {
  width: 98%;
  background: #dbd8d7;
}

@media screen and (max-width: 768px) {

  .dekstop-gymFit-img {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .slide:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .slide:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .slide:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -120%;
    top: -1rem;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5rem;
    background-color: #3c3a39;
    width: 100%;
    height: 600px;
    text-align: center;
    transition: 0.3s;
    border-bottom: 10px solid #6f6c6b;
  }

  .nav-item {
    border-bottom: 1px solid #6f6c6b;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
    padding-bottom: 2rem;
  }

  .envelope {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    height: 20px;
    color: #fff;
    font-family: "Inter", serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 83px;
  }

  .homeContent {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 16%;
    padding-bottom: 200px;
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: -15%;
  }

  .homeContent h2 {
    width: 460px;
    height: 160px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .contentPara {
    margin-top: -3%;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    line-height: 32px;
    width: 566px;
    height: 123px;
  }

  .homeContent ul {
    list-style-type: none;
    margin-left: -7.5rem;
    margin-top: -14.6rem;
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: space-evenly;
  }

  .middle-main {
    padding-top: 7%;
  }

  .line-and-works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
  }

  .line-and-works h2 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
  }

  .first-line {
    width: 62%;
    border: 1px solid #212121;
    margin: 4% 0 4% 0;
  }

  .featured-img {
    flex-wrap: nowrap;
  }

  .mobile-gymFit-img {
    display: none;
  }

  .dekstop-gymFit-img {
    max-width: 100%;
    height: auto;
  }

  .right-tittle {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin: initial;
  }

  .post-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: initial;
  }

  .tools {
    margin-left: -37px;
  }

  .recent-button {
    margin: initial;
  }

  .project-button {
    width: 370px;
    display: none;
  }

  .container-2:hover,
  .container-1:hover,
  .container-3:hover {
    background-image: url(./images/desktop/hover-card.png);
    background-repeat: no-repeat;
    height: 435px;
    width: 369px;
    margin: 0.5%;
    padding: 0%;
    cursor: pointer;
  }

  .container-1:hover > .project-tittle,
  .container-1:hover > .project-description,
  .container-1:hover > .project-tools {
    display: none;
  }

  .container-2:hover > .project-tittle,
  .container-2:hover > .project-description,
  .container-2:hover > .project-tools {
    display: none;
  }

  .container-3:hover > .project-tittle,
  .container-3:hover > .project-description,
  .container-3:hover > .project-tools {
    display: none;
  }

  .container-1:hover > .project-button {
    align-self: flex-end;
    display: block;
    cursor: pointer;
  }

  .container-2:hover > .project-button {
    align-self: flex-end;
    display: block;
    cursor: pointer;
  }

  .container-3:hover > .project-button {
    align-self: flex-end;
    display: block;
    cursor: pointer;
  }

  .aboutMe {
    background-image: url(./images/desktop/Ilustration-aboutMe.png);
    background-position-y: 13%;
    background-position-x: 100%;
  }

  .about {
    height: 582px;
    width: 37%;
    margin-left: 10%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding: 0%;
  }

  .languages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 120px;
    height: auto;
  }

  .text-form {
    width: 30%;
    text-align: start;
    margin: 120pxgit log 3% 1px 10%;
  }

  form {
    width: 48%;
    padding: 88px 24px;
  }

  .form-buttom {
    align-self: flex-start;
  }

  .aboutMe-tittle {
    animation-name: mianimacion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes mianimacion {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(200px);
    }
  }

  .envelope {
    animation-name: envelope-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes envelope-animation {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
