body {
  margin: 0 auto;
  background-color: #1c1a19;
  background-size: cover;
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #3c3a39;
}

.menuLogo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 4%;
}

.menuIcon {
  position: relative;
  top: 12px;
  width: 22px;
  right: 24px;
}

.menuLvl {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2.5px;
  margin: 4px;
  border-radius: 2px;
}

.homeContent {
  padding-left: 16%;
  padding-right: 16%;
  background-image: url(./images/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 100%;
}

.homeContent h1 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-weight: 400px;
  line-height: 60px;
  padding-top: 6%;
  color: #ff6b00;
}

.subtitle {
  color: #fff5e1;
  margin-top: -14%;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 550;
}

.contentPara {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.homeContent ul {
  list-style-type: none;
  margin-left: -2.5rem;
  margin-top: -0.6rem;
}

.peace-icon {
  width: 14.17px;
  height: 20px;
}

.homeContent img {
  height: 0.99rem;
  margin-right: 0.95rem;
}

.middle-main {
  padding-top: 25%;
  background-color: #fff;
  display: grid;
  place-items: center;
}

.recent-works h2 {
  display: flex;
  justify-content: center;
}

.recent-works a {
  display: flex;
  justify-content: center;
}

.first-line {
  width: 87%;
  border: 0.5px solid #212121;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

.recent-works h3 {
  color: #091e42;
  font-family: 'Crete Round', serif;
  margin-left: 5%;
}

.recent-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 12px 24px;
  margin-left: 5%;
}

.post-description {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.tools {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.tools li {
  border: 1px solid black;
  padding: 8px;
  margin-right: 10px;
}

.container {
  background-image: url(./images/placeholder.png);
  background-repeat: no-repeat;
  padding-bottom: 50%;
  margin: 5%;
  display: grid;
}

.aboutMe {
  background-image: url(./images/middle-background.png);
  background-color: #1c1a19;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 35%;
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-position-x: 90%;
}

.aboutMe-tittle {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  padding-top: 6%;
  color: #ff6b00;
  display: flex;
  justify-content: center;
}

.aboutMe-description {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -10px;
}

.aboutMe-button {
  background-color: #ff6b00;
  color: #fff;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 12px 24px;
  margin-left: 5%;
}

.abouteMe-line {
  width: 87%;
  border: 0.5px solid #fff;
  display: flex;
  justify-content: center;
  margin-top: 60%;
  margin-bottom: -15%;
}

.languages {
  display: grid;
  justify-content: center;
  color: #fff;
}

.tools-lists {
  list-style-type: none;
}

.tools-lists li {
  padding-bottom: 10px;
}

.language-icon img {
  display: inline-block;
  margin-right: 0.5em;
  width: 15px;
  height: 15px
}

.framework-text {
  display: grid;
  justify-content: center;
  margin-top: -25px;
}

@media screen and (min-width: 375px) {
  .homeContent {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 35%;
    background-image: url(./images/illustration-header-mobile.png);
    background-repeat: no-repeat;
    background-position-y: 140%;
    background-position-x: 100%;
  }

  .homeContent h1 {
    font-family: 'Crete Round', serif;
    font-size: 56px;
    line-height: 64px;
    padding-top: 15%;
    font-weight: 400;
    color: #ff6b00;
  }

  .contentPara {
    margin-top: -7%;
    font-size: 1rem;
  }

  .homeContent ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
  }

  .homeContent img {
    height: 0.95rem;
    margin-right: 1rem;
  }

  .tools {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: -20px;
    font-family: 'Inter', sans-serif;
  }

  .recent-button {
    background-color: #ff6b00;
    color: #fff;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    margin-left: 5%;
  }

  .container {
    background-image: url(./images/placeholder.png);
    background-repeat: no-repeat;
    padding-bottom: 50%;
    margin: 5%;
    display: grid;
  }

  .project-tittle {
    color: #fff;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    margin-top: 25%;
    margin-left: 5%;
    width: 295px;
    height: 81px;
  }

  .project-description {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -10px;
  }

  .project-tools {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: -20px;
    font-family: 'Inter', sans-serif;
  }

  .project-tools li {
    border: 1px solid black;
    padding: 8px;
    margin-right: 10px;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
  }

  .project-button {
    background-color: #ff6b00;
    color: #fff;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 48px;
    width: 327px;
    text-align: center;
    margin-bottom: -100px;
  }
}

@media screen and (min-width: 768px) {
  .homeContent {
    padding-top: 30px;
    background-image: url(./images/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: -15%;
  }

  .homeContent h1 {
    font-size: 5rem;
    line-height: 95px;
    padding-top: 8%;
  }

  .contentPara {
    margin-top: -3%;
    font-size: 1.5rem;
  }

  .homeContent ul {
    list-style-type: none;
    margin-left: -3.5%;
  }
}
